/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* palanquin-regular - latin */
    @font-face {
        font-family: 'Palanquin';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/palanquin-v13-latin-regular.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('/fonts/palanquin-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('/fonts/palanquin-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('/fonts/palanquin-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('/fonts/palanquin-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('/fonts/palanquin-v13-latin-regular.svg#Palanquin') format('svg'); /* Legacy iOS */
    }

    /* titillium-web-regular - latin */
    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/titillium-web-v15-latin-regular.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('/fonts/titillium-web-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('/fonts/titillium-web-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('/fonts/titillium-web-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('/fonts/titillium-web-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('/fonts/titillium-web-v15-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
    }
  
    /* titillium-web-600 - latin */
    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/titillium-web-v15-latin-600.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('/fonts/titillium-web-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('/fonts/titillium-web-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
            url('/fonts/titillium-web-v15-latin-600.woff') format('woff'), /* Modern Browsers */
            url('/fonts/titillium-web-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
            url('/fonts/titillium-web-v15-latin-600.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
    }
  
    /* unica-one-regular - latin */
    @font-face {
        font-family: 'Unica One';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/unica-one-v13-latin-regular.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('/fonts/unica-one-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('/fonts/unica-one-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('/fonts/unica-one-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('/fonts/unica-one-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('/fonts/unica-one-v13-latin-regular.svg#UnicaOne') format('svg'); /* Legacy iOS */
    }
  
}

@layer components {
    p {
        @apply font-body;
    }
    
    .prose:where(h1, h2, h3, h4, h5, h6):not(:where([class~="not-prose"])) {
        @apply font-normal;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-headings font-semibold
    }
}

@layer utilities {
    /* Title */
    .capitalize.font-semibold.text-xl.w-fit.title {
        line-height: .9;
    }

    /* Navbar menu */
    .navbar {
        @apply p-0;
    }
        /* Make it unsticky */
        .drawer {
            display: grid;
            width: 100%;
            overflow: auto;
            height: auto;
            height: 100svh;
        }

    .navbar-content > :where(li) > :where(:not(ul)) {
        @apply hover:bg-transparent hover:scale-110 hover:w-fit;
    }

    .sidebar-content > :where(li) > :where(:not(ul)) {
        @apply hover:bg-transparent hover:scale-105;
    }

    .sidebar-content > :where(li) > :where(ul) > :where(li) {
        @apply hover:bg-transparent hover:scale-105;
    }
    
    /* Sidebar menu */
    .menu > :where(li) > :where(ul) {
        position: relative;
        display: block;
        top: initial;
        left: 1rem;
    }

    .menu :where(li) > :where(*) {
        gap: 0.75rem !important;
        padding: 0 !important;
        color: currentColor;
    }

}