/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

@layer components {
    p {
        @apply font-body;
    }
    
    .prose:where(h1, h2, h3, h4, h5, h6):not(:where([class~="not-prose"])) {
        @apply font-normal;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-headings text-primary
    }

    h1, .prose h1 {
        @apply text-4xl font-semibold
    }
}

@layer utilities {
    /* Title */
    .capitalize.font-semibold.text-xl.w-fit.title {
        line-height: .9;
    }

    /* Navbar menu */
    .navbar {
        @apply p-0;
    }
        /* Make it unsticky */
        .drawer {
            display: grid;
            width: 100%;
            overflow: auto;
            height: auto;
            height: 100svh;
        }

    .navbar-content > :where(li) > :where(:not(ul)) {
        @apply hover:bg-transparent hover:scale-110 hover:w-fit;
    }

    .sidebar-content > :where(li) > :where(:not(ul)) {
        @apply hover:bg-transparent hover:scale-105;
    }

    .sidebar-content > :where(li) > :where(ul) > :where(li) {
        @apply hover:bg-transparent hover:scale-105;
    }
    
    /* Sidebar menu */
    .menu > :where(li) > :where(ul) {
        position: relative;
        display: block;
        top: initial;
        left: 1rem;
    }

    .menu :where(li) > :where(*) {
        gap: 0.75rem !important;
        padding: 0 !important;
        color: currentColor;
    }

}